/* Media Queries */
@media screen and (max-width: 767px) {
	.lb-album * {
		margin:0; 
		padding:0;}

	.holder > header h1 {
		font-size: 20px;
	} 

	.holder > header h2, .holder > header img	{
		display:none;
	}
	.lb-album{
		width: 90%;
	}
	.lb-overlay:target {
		margin:0; 
		padding:0; 
		position:fixed;
		height:200px;
		width:100%;
		padding-top:20%;
	}

	.ac-holder{
		width: 100%;
		margin: 0px auto 30px auto;
		text-align: center;
	}
	.ac-holder label {
	font-size: 14px;	
	}
}
