html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, 
figure, footer,header, hgroup, menu, nav, section, summary {
margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit;
font-size: 100%; font-family: inherit; vertical-align: baseline;}

ol, ul {list-style: none;}
a img {border:none}
aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
html {width:100%; height:100%;}
	
@viewport {
  width: extend-to-zoom 980px;
  min-zoom: 0.25;
  max-zoom: 5;
}

body {
	word-wrap: break-word; 
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
	font-size: 12px; 
	background-image: url('grey_wash_wall.png'); 
	color: black; 
	margin:0 auto; 
	height:100%; 
	line-height: 0;
}

header{
	line-height: 0;
  	position: relative; 
	width: 100%; 
	height:140px;
  	display:block;  
	background:#53BCDD;
  	-moz-box-shadow: inset 0 0 30px rgb(168, 199, 255);
  	-webkit-box-shadow: inset 0 0 30px rgb(168, 199, 255);
  	box-shadow: inset 0 0 30px rgb(168, 199, 255);
  	-moz-opacity: 0.90; -khtml-opacity: 0.90; opacity: 0.90;
  	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=90);
  	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	filter:alpha(opacity=90);
}

#title {
	position: relative;
	float: left;
	left: -622px;
	width: 141%;
	height: 140px;
	padding-top: 25px;
	background: url('alogo-small.png') center no-repeat;
	margin: 0 auto;
	display: block;
	color: #fff;
}



input.ourInputBox{
	-webkit-transition: background-color 0.5s linear; 
	width: 140px;
}

input.ourInputBox:focus{
	-webkit-transition: background-color 0.5s linear; 
	width: 140px; 
	background:#CCC;
}

h1.fontface {
	font: 22px/28px 'MichromaRegular', Arial, sans-serif; 
	letter-spacing: 0;
}

p.style1 {
	font: 14px/22px 'MichromaRegular', Arial, sans-serif;
}

@font-face {
	font-family: 'MichromaRegular';
	src: url('Michroma-webfont.eot');
	src: url('Michroma-webfont.eot?#iefix') format('embedded-opentype'),
     	url('Michroma-webfont.woff') format('woff'),
     	url('Michroma-webfont.ttf') format('truetype'),
     	url('Michroma-webfont.svg#MichromaRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

p {word-wrap:break-word;}
a {text-decoration: none; word-wrap:break-word;}
h1, h2, h3, h4, h5, h6 {line-height: 120%; font-weight:bold;}
h1 {font-size: 1.8em;}
h2 {font-size: 1.6em;}
h3 {font-size: 1.4em;}
h3 {font-size: 1.2em;}

.nav {margin-top: 30px; margin-bottom: 20px; margin-left: 6%; text-shadow: 0px 1px 3px black;}
.nav:hover {}
.nav ul {margin: 0;padding: 0;}
.nav li {margin: 0 5px 10px 0; padding: 0; list-style: none;display: inline-block; display:inline; }
.nav a {
  padding: 5px 15px; font-size: 14px; text-decoration: none; line-height: 100%; color: white;
  font-weight:bold; text-shadow: 1px 2px 5px black;
}
.nav a:hover {color: yellow;}
.nav .current a {background: #1EDFDF; color: #fff; border-bottom: 1px solid white;}
.nav.right ul {text-align: right;}
.nav.center ul {text-align: center;}
.nav select { display: none; }


section {
  width: 90%; height: auto; float: left;  margin: 0 auto; margin-left: 5%;
  clear: both; overflow: hidden;line-height: 1.5;
}


.jedan {word-wrap:break-word;
  width: 46%; margin: 1%; padding: 1%; float: left; background: #44BEB5; color: white; 
  -moz-opacity: 0.90; -khtml-opacity: 0.90; opacity: 0.90;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90); filter:alpha(opacity=90);
}
.jedan p {width: 96%; margin: 1%; padding: 1%; float: left; color: #313131; font-size: 1.1em; font-weight: bold;}
.belo {width: 98%; margin: 0; padding: 1%; background: white; color: #212121;}
.jedan a {float: left; color: yellow; text-shadow: 0px 1px 3px #212121; padding: 1%;}
.jedan a:hover {color: #17f118;}


.jedan ul {width: 98%; padding: 1%; color: white; float: left; margin: 0;}
.jedan ul li {
  width: 100%; display: block; float: left; margin: 0; padding: 0; background: #313131; 
  margin-bottom: 2px;
}
.jedan ul li a {
  width: 98%; float: left; margin: 0; padding: 1%; color: yellow;}
.jedan ul li a:hover {background: #515151; color: #17f118;}


.jedan h2, .jedan h3, .jedan h4, .jedan h5, .jedan h6, .dva h2, .dva h3, .dva h4, .dva h5, .dva h6 {
  width: 98%; padding: 1%; color: white; float: left; text-shadow: 0px 2px 5px black; 
  margin-top: 8px; margin-bottom: 5px;
}
.jedan h3, .jedan h4, .jedan h5, .jedan h6, .dva h3, .dva h4, .dva h5, .dva h6 {
   color: white; border-bottom: 1px solid white;
}
.jedan h2 {background: #414141; border-top: 1px solid white;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000; text-align: center;
}
.jedan b {color: white; text-shadow: 0px 2px 5px black;}

.jedan img {
  border: none; width: 200px; height: 130px; margin: 1%; margin-top: 2%; padding: 0; 
  -webkit-box-shadow: 0px 0px 25px black; 
  -moz-box-shadow: 0px 0px 25px black; 
  -moz-border-radius: 5px; -webkit-border-radius:5px; 
  -o-border-radius:5px; border-radius:5px;  
}
.slike img {width: 120px; height: 80px;}
.kontakt_slike img {width: 60px; height: 60px;}

.jedan img:hover {
  -webkit-box-shadow: 0px 0px 25px orange; -moz-box-shadow: 0px 0px 25px orange; 
  box-shadow: 0px 0px 25px orange;
}

.dva {word-wrap:break-word;
  width: 46%; margin: 1%; padding: 1%; float: right; color: white; background: #3FB1CB;
  -moz-opacity: 0.90; -khtml-opacity: 0.90; opacity: 0.90;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90); filter:alpha(opacity=90);
}
.dva p {width: 96%; margin: 0; padding: 2%; float: left; color: #313131; }
.dva img {
  border: none; margin: 1%; margin-top: 2%; padding: 0; 
   -webkit-border-radius:5px; 
  -o-border-radius:5px; border-radius:5px;  
}
.dva img:hover {
  -webkit-box-shadow: 0px 0px 20px white; -moz-box-shadow: 0px 0px 20px white; 
  box-shadow: 0px 0px 20px white;
}
.dva form {text-shadow: 0px 1px 6px black;  padding: 1%; font-weight: bold;}
.dva form span, .dva form input, .dva form textarea {margin-bottom: 5px; margin-top: 5px;}
.dva form b {color: yellow; font-size: 1.1em;}
.pretrazi {
  width: 96%; padding: 2%; padding-bottom: 0%; float: left; margin: 0; margin-bottom: 10px; margin-top: 10px;
  background: #BEA505; color: white; 
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
.pretrazi h3 {
  width: 30%; float: left; margin: 0; padding: 0; margin-top: 5px; text-align: right;
  -moz-box-shadow: inset 0 0 0px #000000;
  -webkit-box-shadow: inset 0 0 0px #000000;
  box-shadow: inset 0 0 0px #000000;
}
.pretrazi form {width: 70%; float: right; margin: 0; padding: 0;}
.pretrazi form input {width: 80%; margin-left: 5px; }
.pretrazi #livesearch {padding: 1%; margin-bottom: 2%; border: 1px solid #B8A31D;}
.pretrazi #livesearch a {color: white;}
.pretrazi #livesearch a:hover {color: yellow;}

.dva h2 {background: #414141; border-top: 1px solid white;
  -moz-box-shadow: inset 0 0 10px #000000; text-align: center;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.dva ul {width: 99%; padding: 1%; color: white; float: left; margin: 0;}
.dva ul li {
  width: 100%; display: block; float: left; margin: 0; padding: 0; background: #313131; 
  margin-bottom: 2px;
}
.dva ul li a {width: 98%; float: left; margin: 0; padding: 1%; color: yellow;}
.dva ul li a:hover {background: #515151; color: #17f118;}
.dva object {padding: 2%;}

.jedan, .dva {
  -moz-box-shadow: inset 0 0 30px #000000;
  -webkit-box-shadow: inset 0 0 30px #000000;
  box-shadow: inset 0 0 30px #000000;
}

.galerija {width: 98%; padding: 1%; float: left;}
.galerija iframe {width: 100%; height: 650px;}  

#dugme {width: 100%; float: left; margin: 0; padding: 0;}
.dugme {
	width: 100px;
	float: left;
	border: 1px solid white;
	padding: 5px;
	margin: 5px;
	text-align: center;
	background: #5CC9E4;
	border: hidden 3px #000000;
	/* -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px; */
	-webkit-box-shadow: 0px 0px 5px black;
	-moz-box-shadow: 0px 0px 5px black;
	clear: both;
}
.dugme:hover {background: #91E452;}
.dugme a {color: white; font-weight:bold; text-shadow: 0px 1px 4px black;}

footer {
  width: 98%; padding: 1%; float: left; background: #77b84f; margin-top: 20px; color: white; 
  border-top: 1px solid orange; clear: both;-moz-opacity: 0.70; -khtml-opacity: 0.70; 
  opacity: 0.70; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); filter:alpha(opacity=70);
  -moz-box-shadow: inset 0 0 20px orange;
  -webkit-box-shadow: inset 0 0 20px orange;
  box-shadow: inset 0 0 20px orange;line-height: 1.5;
}

footer p {text-align: center;}


	
@media screen and (max-width: 600px) {

	body {width: 100%; padding: 0; float: left; height: auto;  margin: 0 auto;}
	#title{display: none;} 
	/* header {
	  width: 100%; float: left; clear: both; height: 70px;  overflow: hidden; 
	  margin: 0; padding: 0;} */ header {display:none;} 
	section {
	  width: 100%; float: left; clear: both; margin: 0 auto; overflow: hidden;
	  margin: 0; padding: 0;
	} 
	.jedan {width: 100%; float: left; clear: both; margin: 0; padding: 0; margin-bottom: 5px; 
	overflow: hidden;}
	.dva {width: 100%; float: left; clear: both; margin: 0; padding: 0;}
        h2, h3, h4, h5, h6 {
	  width: 90%; padding: 5%; float: clear: both; left; text-align: center; background: #414141; 
	  color: #77b84f; word-wrap:break-word; margin-top: 5px;
	}

	.jedan p {width: 98%; padding: 1%; float: left; margin: 0;}
	.jedan ul {width: 100%; margin: 0; padding: 0; float: left; float: left; display: block; text-align: center; 
	  letter-spacing: 0;
	}
	.jedan ul li {width: 100%; display: block; float: left; margin: 0; padding: 0;
	  background: #111; border-bottom: 1px solid white; 
	}
	.jedan ul li a {width: 100%; float: left; margin: 0; padding: 0; color: yellow;}
	.jedan ul li a:hover {background: #313131; color: #17f118;}
	/* .jedan p img {width: 90%; float: left;} */
	
	.dva img {width: 30px; height: 30px; padding: 3%; float: left;}
	
	.nav {width: 100%;  margin: 0; padding: 0; float: left; min-height: 30px;}
	.nav ul {
	   width: 100%; float: left; color: white; background: #1EDFDF; 
	   box-shadow: 0 1px 2px rgba(0,0,0,.3); margin: 0; padding: 0; 
	}
	.nav li {display: none; margin: 0;} /* sakrij <li> elemente */
	.nav .current {display: block;} /* pokazi samo trenutni <li> element */
	.nav a {display: block; padding: 10px; text-align: center; color: white;}
	.nav .current a {background: none; color: white; border-bottom: 0px solid white;}
	/* na nav prelazak misem */
	.nav ul:hover {background-image: none;}
	.nav ul:hover li {display: block; margin: 0 0 2px;}
	.nav ul:hover li:hover {background: #414141;}
	.nav ul:hover .current {background: #77b84f;}
	/* centar nav */
	/* .nav.center ul {left: 50%; margin-left: -90px;} */	
	
	.nav ul     { display: none; }
      	.nav select { display: inline-block; padding:1%;margin:1%;}
}
